@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-family: sandoll-gothicneo1, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}

.swiper-button-prev {
  padding-left: 3rem;
}

.swiper-button-next {
  padding-right: 3rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 3rem !important;
  font-weight: 600 !important;
}

.card {
  width: 100%;
  height: auto;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}