@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PB';
  src: url('../app/fonts/Pretendard-Bold.woff');
}

@font-face {
  font-family: 'PEB';
  src: url('../app/fonts/Pretendard-ExtraBold.woff');
}

@font-face {
  font-family: 'PEL';
  src: url('../app/fonts/Pretendard-ExtraLight.woff');
}

@font-face {
  font-family: 'PL';
  src: url('../app/fonts/Pretendard-Light.woff');
}

@font-face {
  font-family: 'PM';
  src: url('../app/fonts/Pretendard-Medium.woff');
}

@font-face {
  font-family: 'PR';
  src: url('../app/fonts/Pretendard-Regular.woff');
}

@font-face {
  font-family: 'PSB';
  src: url('../app/fonts/Pretendard-SemiBold.woff');
}

@font-face {
  font-family: 'PT';
  src: url('../app/fonts/Pretendard-Thin.woff');
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}

.swiper-button-prev {
  padding-left: 3rem;
}

.swiper-button-next {
  padding-right: 3rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 3rem !important;
  font-weight: 600 !important;
}

.card {
  width: 100%;
  height: auto;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}